<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletAltaVenta</servlet-name>
        <servlet-class>controlador.ServletAltaVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaDisco</servlet-name>
        <servlet-class>controlador.ServletAltaDisco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarVenta</servlet-name>
        <servlet-class>controlador.ServletModificarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarDisco</servlet-name>
        <servlet-class>controlador.ServletModificarDisco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarDisco</servlet-name>
        <servlet-class>controlador.ServletEliminarDisco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarventa</servlet-name>
        <servlet-class>eliminarventa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarVenta</servlet-name>
        <servlet-class>controlador.ServletEliminarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaUsuario</servlet-name>
        <servlet-class>controlador.ServletAltaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutenticador</servlet-name>
        <servlet-class>controlador.ServletAutenticador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAltaVenta</servlet-name>
        <url-pattern>/ServletAltaVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaDisco</servlet-name>
        <url-pattern>/ServletAltaDisco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarVenta</servlet-name>
        <url-pattern>/ServletModificarVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarDisco</servlet-name>
        <url-pattern>/ServletModificarDisco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarDisco</servlet-name>
        <url-pattern>/ServletEliminarDisco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarventa</servlet-name>
        <url-pattern>/eliminarventa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarVenta</servlet-name>
        <url-pattern>/ServletEliminarVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaUsuario</servlet-name>
        <url-pattern>/ServletAltaUsuario</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>usuarioEmergencia</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>contrasenaEmergencia</param-name>
        <param-value>kk69</param-value>
    </context-param>
    <context-param>
        <param-name>tituloListaDiscos</param-name>
        <param-value>Lista de discos</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>ServletAutenticador</servlet-name>
        <url-pattern>/ServletAutenticador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
