#container {
    width:90%;
    max-width:1049px;
    min-width:320px;
    margin:20px auto;		
    display: flex;  	
    flex-flow: row wrap; 	
    justify-content: center ; 
    align-items: center ; 	
    align-content: stretch; 
}
header{
	height:100px;
	background-color: #b576ad;
	overflow:hidden;
	text-align:center;
	flex: 1 100%;
        border-radius: 5px;
}
header h1{
	line-height:100px;
	margin:0;
	font-size:30px;
	float:left;
	width:40%;
	padding-left:20px;
	box-sizing:border-box;
}

/*MENU*/
header nav{
	float:right;
	width:60%;
	line-height:100px;
	padding-right:20px;
	box-sizing:border-box;
}
header ul{
	list-style-type:none;	 		
	margin:0;
	padding:0;	
	display:flex;
	flex-flow: row wrap;
	justify-content: flex-end;  
}
header ul li{
	margin:0 5px;	
	font-size:20px;	
	cursor:pointer;
	color:#D5C5C5;
}
a:hover{
	background-color:#8a8883;
}
a{
    text-decoration: none;
    color:white;
}
#mensaje p{
    clear:both;
    text-align: center;
    display:block;
    width:1049px;
    overflow: hidden;
}

form{
    background : #8a8883;
    text-align: center;
    padding: 20px;
    border: 2px solid #8a8883;
    border-radius: 5px;
    margin: 50px auto;
    color: white;
    line-height: 50px;
    display:block;
}

input{
    color: white;
    background-color: #b576ad;
}
img{
    width:20px;
    height:20px;
}
#discos{
    width:100%;
    height:100px;
}
body {
    display: block;
    margin: 8px;
}

.item{
	color:#fff;
	text-align:center;
	margin:0 auto;
	font-size:25px;
}
#cuerpo{	
	height:600px;
	flex: 4 auto;
}
table, th, td{
    background : #8a8883;
    color:white;
    margin-top: 50px;
    border:2px solid black; 
    cellspacing:0;
    padding: 10px;
}
table{
    width:90%;
}
/*FOOTER*/
footer{
    height:100%;
    flex: 1 100%;
    background-color: #b576ad;
    color: white;
    text-align: center;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
	
	header nav{
		line-height:31px;
	}
	header ul{	
	 	flex-flow: column wrap;	
	 	align-items: center; 
	 	justify-content: center;  	
	}
	header ul li{
		margin-bottom:2px;
	}
	
	
	header{
		order:0;
	}
	
	#cuerpo{
		flex: 1 100%;
		order:2;		
	}
	
	aside{
		flex: 1 100%;
		order:1;		
	}
	
	footer{
		order:3;
	}
        
        #pequeno{
            width: 40px;
        }

}